<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Show Page</title>

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link href='//fonts.googleapis.com/css?family=Abel' rel='stylesheet' type='text/css'>

    <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="/javascripts/app.js"></script>
  </head>



  <body>


    <div class="container-fluid">
    <h1><%= (last_name)?(first_name+" "+last_name):(first_name) %>'s Info</h1>
    <ul class="profile_page_list">
      <% if(login_type=="local"){ %>
        <li>First Name : <%= first_name %></li>
        <li>Last Name : <%= last_name %></li>
        <li>Email : <%= email %></li>
        <li>ID: <%= id%></li>
      <% } else { %>
        <li>Name : <%= first_name+" "+last_name %></li>
      <% } %>
      <li>Account Type : <%= login_type %></li>
    </ul>
    <% if(login_type=="local"){ %>
      <a href="/users/<%=id%>/edit">Edit my Info</a><br>
      <form action="/users/<%=id%>" method="post" style="display:inline-block">
        <input type="hidden" name="_method" value="delete">
        <a href="#" class="submit" data-confirm="Are you sure?">Delete my account</a>
      </form>
    <% } %>
    <br><br>
    <a href="/">Back</a>



  </div>




    </body>
  </html>
